* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

::selection {
    background-color: #1eaaf0;
    color: white;
}


/* ################ UTILITY CLASSES ############## */

.padding {
    padding: 2rem auto;
}

.lg-heading {
    font-size: 3.5rem;
    font-weight: 700;
}

.md-heading {
    font-size: 2rem;
}

.text-red {
    color: #e63946;
}

.text-light {
    color: #f4f4f4;
}

.text-dark {
    color: #333;
}

.text-gray {
    color: #555;
}

.background-red {
    background-color: #e63946;
}

.background-bluewhite {
    background-color: #ddd;
}

.background-dark {
    background-color: #333;
}

.background-greenwhite {
    background-color: rgb(221, 241, 185);
}


/* ################ END UTILITY CLASSES ############## */


/* ############## NAVBAR ################ */

.navbar {
    background-image: linear-gradient( to right top, #6aecf2, #4fdcfe, #59c9ff, #7cb3fe, #a19aeb);
}

.nav-link a {
    text-transform: uppercase;
    /* color: #555; */
}

.nav-link {
    margin-left: 10px;
    border: 1px solid rgba(218, 245, 255, 0.404);
    border-radius: 5px;
    color: cornsilk;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

.nav-link:hover {
    background-color: #59c9ff;
    border-radius: 5px;
    box-shadow: 4px 4px 10px gray;
    transform: scale(1.05);
}


/* ############# NAVBAR ################ */


/* ############## HOME BODY ################# */

.brodcast {
    background-color: #293f58;
    color: whitesmoke;
    font-size: 3px;
}

.btn-primary {
    margin-top: 20px;
    padding: 10px 20px;
}

.btn-primary i {
    text-align: center;
    font-size: 2.4rem;
}

.btn-primary a {
    text-transform: uppercase;
    font-size: 1rem;
    display: flex;
}

.main {
    display: flex;
    margin: 1rem 5rem;
}

.info {
    padding-top: 3rem;
}

.info a {
    text-decoration: none;
    color: white;
}

.info h2 {
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 700;
    display: inline-block;
}
.info h3 {
    font-size: 1.2rem;
}

.info p {
    font-size: 1.1rem;
    font-weight: 700;
    color: #041d8b;
}

.border {
    box-shadow: -41px 10px 40px 0px #1eaaf0;
    border-radius: 100px 0;
    overflow: hidden;
}

.smdip{
    background: #7cb3fe;
    padding: 1rem;
    margin-top: 6.2rem;
    text-align: center;

}
.smdip h1{
    text-transform: uppercase;
}
/* invitedSpeakers */
.invitedSpeakers{
    background: #f1fdb7;
}
.invitedSpeakers .speaker-heading{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    text-shadow: 2px 1px 10px #333;
}
.invitedSpeakers .speaker-heading h1{
    padding-top: 3rem;
}
.invitedSpeakers img{
    border-radius: 40%;
    overflow:hidden ;
}
.card{
    margin: 1rem;
    box-shadow: 5px 2px 10px 0 #1eaaf0;
    transition: all 0.6s ease;

}
.card:hover{
    transform: scale(1.1);
}
.row{
    padding-left: 10rem;
    align-content: center;
}
/* sponser */
.sponsor{
    text-align: center;
    background: rgb(255, 251, 233);
}
.sponsor-heading h1{
    font-family: 'Russo One', sans-serif;
    border-bottom: 2px solid #555;
}
.sponsor-logo img{
    width:500px;
    height: auto;
}
/* venue */
.map{
    background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url("../image/gcek-map.png");
    position: relative;
    width: 100%;
    height: 38rem;
    background-repeat: no-repeat;
    background-position: center;
}
.map h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight: 700;
    text-shadow: 4px 4px 10px #333;
}

/* ################### BODY END ################# */


/* ################## Contact Page ################### */


/* ############# ADDRESS ############# */

.contact-form {
    padding: 2rem 0;
    background-color: beige;
}

.form-wrapper .address {
    width: 49%;
    height: 80vh;
    float: left;
    background-color: #f1fab7;
    padding: 0 1.2rem 1.2rem 1.2rem;
}

.form-wrapper::after {
    content: '';
    clear: both;
    display: block;
}

.form-wrapper .address i {
    font-size: 2rem;
    display: inline-block;
    margin-right: 0.7rem;
}

.email {
    width: 45%;
    float: left;
}

.phone {
    width: 45%;
    float: right;
}

.email-phone {
    content: '';
    clear: both;
    display: block;
}

.form-wrapper .address h2 {
    display: inline-block;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: none;
}

.form-wrapper .address img {
    margin-top: 1.8em;
    width: 95%;
    height: 20rem;
    object-fit: cover;
    object-position: right;
}


/* ############## FORM ################ */

.form-wrapper .form {
    /* border: 1px dotted black; */
    background-color: aliceblue;
    width: 49%;
    height: 80vh;
    float: right;
    font-size: 1.4rem;
}

.form-group {
    margin: 0.7rem auto;
}

.form h2 span {
    font-size: 2.5rem;
    font-weight: 500;
    color: #e63946;
}

.form-wrapper p {
    padding-top: 1rem;
    font-size: 1rem;
}

.form .hr {
    border-top: 0.3rem solid #e63946;
    width: 90%;
}

.form-group label {
    font-weight: 500;
    display: block;
}

.form-group input {
    width: 90%;
    height: 1.9rem;
}

.form-group label::after {
    content: ' *';
    color: #e63946;
}

.form-group textarea {
    width: 90%;
    height: 170px;
    margin-top: 0.7rem;
}

.btn-form {
    padding: 0.6rem 1.5rem;
    text-align: center;
    background-color: rgb(241, 106, 241);
    /* text-transform: uppercase; */
    font-size: 1rem;
    border-radius: 0.3rem;
    border: none;
    margin: 0.3rem 12rem;
}

.btn-form:hover {
    background-color: rgb(155, 37, 170);
    /* box-shadow: 2px 2px 10px #555; */
}


/* ################## End Contact Page ################### */


/* ################## Footer and connect Page ################### */

.social {
    padding-bottom: 30px;
}

.social a {
    font-size: 2.4rem;
    margin: 1rem;
}

.connect h2 {
    text-transform: uppercase;
}

.fab {
    transition: all 0.5s ease;
}

.fa-facebook {
    color: #3b5999;
}

.fa-twitter {
    color: #55acee;
}

.fa-instagram {
    color: #e4405f;
}

.fa-youtube {
    color: #cd201f;
}

.fab:hover {
    color: #d5d5d5;
    transform: scale(1.1);
}

.col-md-4 h5 {
    padding-top: 20px;
    padding-bottom: 14px;
}

footer {
    background-color: #1b2a3b;
    color: #d5d5d5;
    padding: 1.5rem 0;
}

footer .footer-tag {
    /* text-align: center; */
    align-content: center;
}

footer hr {
    border-top: 1px solid #afafafa6;
    /* width: 50%; */
}

footer .col-12 hr:first-of-type {
    width: 100%;
}

footer img {
    width: 3rem;
    margin: 0.2rem auto;
}


/* ################## End Footer and conect Page ################### */


/* ################## Committee Page Start ################### */

.committee {
    text-align: center;
}

.committee h2 {
    margin: 40px 0;
    color: rgb(14, 7, 19);
    border-bottom: 2px solid  #71d0ff;
    display: inline-block;
}

.tab {
    margin: 0 200px;
    margin-bottom: 60px;
}

.theading {
    color: #fff;
    background-color: #1b2a3b;
}

.legend-even {
    background-color: #71d0ff;
}

.legend-odd {
    background-color: #5be3eb;
}


/* ################### Committee Page End #################### */

/* ############ AIAMATION ########### */
.loader {
    filter: hue-rotate(0deg);
    color: linear-gradient(45deg, #0f8, #08f);
    animation: hue 10000ms infinite linear;
}
  
  @keyframes spinify {
    0% {
      transform: translate(0px, 0px);
    }
    33% {
      transform: translate(0px, 24px);
      border-radius: 100%;
      width: 10px;
      height: 10px;
    }
    66% {
      transform: translate(0px, -16px);
    }
  
    88% {
      transform: translate(0px, 4px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  @keyframes hue {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
/* ############ AIAMATION END ########### */