* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

::selection {
    background-color: #1eaaf0;
    color: white;
}


/* ################ UTILITY CLASSES ############## */

.padding-1 {
    padding-top: 1rem;
}

.padding-2 {
    padding-top: 2rem;
}

.margin-1 {
    margin-top: 1rem;
}

.margin-2 {
    margin-top: 2rem;
}

.lg-heading {
    font-size: 2rem;
    font-weight: 700;
}

.md-heading {
    font-size: 1.5 rem;
    font-weight: 700;
}

.text-red {
    color: #e4405f;
}


/* ################ END UTILITY CLASSES ############## */


/* ############## NAVBAR ################ */

.navbar {
    background-image: linear-gradient( to right top, #6aecf2, #4fdcfe, #59c9ff, #7cb3fe, #a19aeb);
}

.nav-link a {
    text-transform: uppercase;
    /* color: #555; */
}

.navbar .navbar-brand img {
    width: 27rem;
}

.nav-link {
    margin-left: 10px;
    border: 1px solid rgba(218, 245, 255, 0.404);
    border-radius: 5px;
    color: cornsilk;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

.nav-link:hover {
    background-color: #59c9ff;
    border-radius: 5px;
    box-shadow: 4px 4px 10px gray;
    transform: scale(1.03);
}


/* ############# NAVBAR ################ */


/* ############## HOME BODY ################# */

.brodcast {
    background-color: #293f58;
    color: whitesmoke;
    height: 1.5rem;
}

.btn-primary {
    margin-top: 20px;
    padding: 10px 20px;
}

.btn-primary i {
    text-align: center;
    font-size: 2.4rem;
}

.btn-primary a {
    text-transform: uppercase;
    font-size: 1rem;
    display: flex;
}

.main {
    display: flex;
    margin: auto 5rem;
}

.info,
.carousel-gcek {
    padding-top: 2.5rem;
}

.info a {
    text-decoration: none;
    color: white;
}

.info h2 {
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 700;
    display: inline-block;
}

.info h3 {
    font-size: 1.2rem;
}

.info p {
    font-size: 1.1rem;
    font-weight: 700;
    color: #041d8b;
}

.border {
    box-shadow: -41px 10px 40px 0px #1eaaf0;
    border-radius: 100px 0;
    overflow: hidden;
}

.smpid {
    background: #7cb3fe;
    padding: 0.3rem;
    margin-top: 3.4rem;
    text-align: center;
}

.smpid h1 {
    text-transform: uppercase;
}


/* invitedSpeakers */

.speakers {
    background: #c2f06d;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
}

.speakers .speaker-heading {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    text-shadow: 2px 1px 10px #333;
}

.speakers .speaker-heading h1 {
    padding-top: 3rem;
}

.speakers .card img {
    border-radius: 48%;
    height: 47%;
    width: 72%;
    box-shadow: 5px 5px 20px 0 #555;
}

.card-body {
    text-align: center;
}

.card-body h4 {
    font-size: 1.6rem;
    color: #041d8b;
    font-weight: 700;
}

.card-body h5 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #1eaaf0;
}

.speakers .card {
    align-items: center;
}

.card {
    margin: 1rem;
    height: 25rem;
    padding: 0;
    box-shadow: 5px 2px 10px 0 #1eaaf0;
    transition: all 0.6s ease;
}

.card:hover {
    transform: scale(1.03);
}

.invitedSpeakers .row {
    padding-left: 10rem;
    align-content: center;
}


/* sponsor */

.sponsor {
    text-align: center;
    background: rgb(255, 255, 255);
}

.sponsor-heading h1 {
    display: inline-block;
    font-family: 'Russo One', sans-serif;
    border-bottom: 2px solid #555;
}

.sponsor img {
    width: 500px;
    height: auto;
}


/* venue */

.venue {
    background-color: rgb(211, 211, 211);
    position: relative;
    height: 500px;
}

.venue h1 {
    font-size: 2.6rem;
    text-transform: capitalize;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Russo One', sans-serif;
    border-bottom: 2px solid #555;
}

.map {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}


/* ################### BODY END ################# */


/* ########## About ############# */

.about {
    background: #e2fae1;
}

.about-head {
    text-align: center;
}

.about-head h1 {
    font-weight: 700;
    margin: 30px 0;
    border-bottom: 3px solid #e4405f;
    display: inline-block;
}

.inst {
    background: #b9cbf1;
    padding: none;
}

.inst h2 {
    text-transform: capitalize;
    border-bottom: 2px solid #e4405f;
}


/* ########## end About ############# */


/* ################## Contact Page ################### */


/* ############# ADDRESS ############# */

.contact-form {
    text-align: center;
    padding: 2rem 0;
    background-color: beige;
}

.contact-form h1 {
    font-weight: 700;
    margin: 30px 0;
    border-bottom: 3px solid #e4405f;
    display: inline-block;
}

.form-wrapper i {
    padding: 2rem 0.2rem;
    font-size: 1.6rem;
    display: inline-block;
}

.form-wrapper p {
    font-size: 1.25rem;
}

.form-wrapper {
    padding: 2rem 1rem;
}

.form-wrapper h2 {
    font-size: 1.6rem;
    display: inline-block;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: none;
}

.phone li {
    list-style: none;
}


/* ################## End Contact Page ################### */


/* ################## Footer and connect Page ################### */

.social {
    padding: 20px;
}

.social a {
    font-size: 2.4rem;
    margin: 1rem;
}

.connect h2 {
    text-transform: uppercase;
}

.fab {
    transition: all 0.5s ease;
}

.fa-facebook {
    color: #3b5999;
}

.fa-twitter {
    color: #55acee;
}

.fa-instagram {
    color: #e4405f;
}

.fa-youtube {
    color: #cd201f;
}

.fab:hover {
    color: #d5d5d5;
    transform: scale(1.1);
}

.col-md-4 h5 {
    padding-top: 20px;
    padding-bottom: 14px;
}

footer {
    background-color: #1b2a3b;
    color: #d5d5d5;
    padding: 1.5rem 0;
}

footer .footer-tag {
    /* text-align: center; */
    align-content: center;
}

footer hr {
    border-top: 1px solid #afafafa6;
    /* width: 50%; */
}

footer .col-12 hr:first-of-type {
    width: 100%;
}

footer img {
    width: 3rem;
    margin: 0.2rem auto;
}


/* ################## End Footer and conect Page ################### */


/* ################## Committee Page Start ################### */

.committee {
    text-align: center;
}

.committee h2 {
    margin: 30px 0;
    color: rgb(14, 7, 19);
    border-bottom: 2px solid #e4405f;
    display: inline-block;
}

@media (min-width: 768px) {
    .tab {
        margin: 0 80px;
        margin-bottom: 60px;
    }
}

@media (min-width: 992px) {
    .tab {
        margin: 0 200px;
        margin-bottom: 60px;
    }
}

.theading {
    color: #fff;
    background-color: #1b2a3b;
}

.legend-even {
    background-color: #71d0ff;
}

.legend-odd {
    background-color: #5be3eb;
}


/* ################### Committee Page End #################### */


/* ############ SUBMISSION ############# */

.submission h2 {
    border-bottom: 2px solid #e4405f;
}


/* ############ END SUBMISSION ############# */


/* ############ Theme ############# */

.theme h2 {
    border-bottom: 2px solid #e4405f;
}

.theme ul {
    padding-left: 1rem;
}


/* ############ END Theme ############# */


/* ############ AIAMATION ########### */

.loader {
    filter: hue-rotate(0deg);
    color: linear-gradient(45deg, #0f8, #08f);
    animation: hue 10000ms infinite linear;
}

@keyframes spinify {
    0% {
        transform: translate(0px, 0px);
    }
    33% {
        transform: translate(0px, 24px);
        border-radius: 100%;
        width: 10px;
        height: 10px;
    }
    66% {
        transform: translate(0px, -16px);
    }
    88% {
        transform: translate(0px, 4px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}


/* ############ AIAMATION END ########### */